<div class="container-fluid">
  {{!-- ////////// NAV --}}
  <div class="navbar row fixed-top">
    <div class="col-12">
      <div class="row d-flex justify-content-start align-items-center">
        <div class="col-4 d-flex justify-content-start pl-4 logo-nav">
          <h1>
            <strong>Easy</strong>Freeze
          </h1>
        </div>
      </div>
    </div>
  </div>
  {{!-- //////////// HEADER --}}
  <div class="row header d-flex justify-content-around align-items-top">
    <div class="col-8 col-md-12 title d-flex justify-content-center">
      <h1>
        TITULO
      </h1>
    </div>

    <div class="col-8 col-md-3 mt-5 mt-md-0 order-md-1 order-2 d-flex justify-content-center pb-5 pb-md-0 img-header">
      <img src="./images/foto2.png" alt="" />
    </div>
    <div class="col-8 col-md-3 mt-5 mt-md-0 order-md-2 order-1 d-flex justify-content-center text-header">
      <h1>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae, eveniet autem, laudantium amet ab perspiciatis
        facilis quisquam quas eaque dignissimos commodi consectetur. Adipisci voluptatibus et deleniti laborum,
        impedit praesentium accusamus blanditiis.
      </h1>
    </div>
    <div class="col-8 col-md-3 mt-5 mt-md-0 order-md-3 d-none d-md-flex justify-content-center">
      <form class="form-header" action="/" method="POST">
        <div class="form-group pb-3">
          <div class="input-group input-group-lg">
            <input type="text" class="form-control input-name" aria-label="Sizing example input"
              aria-describedby="inputGroup-sizing-lg" />
          </div>
        </div>
        <div class="form-group pb-3">
          <div class="input-group input-group-lg">
            <input type="text" class="form-control input-email" aria-label="Sizing example input"
              aria-describedby="inputGroup-sizing-lg" />
          </div>
        </div>
        <div class="d-flex justify-content-center">
          <button class="btn btn-primary btn-lg prevent-default" data-toggle="modal"
            data-target="#exampleModal">Submit</button>
        </div>
      </form>
    </div>


    <div class="modal fade" id="exampleModal" tabIndex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col-4">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <h3>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. In quod laudantium est architecto, doloribus
                  error delectus inventore libero aperiam mollitia!
                </h3>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  {{!-- /////////////////SECTION 1 --}}
  <div class="section-one row d-flex align-items-center py-5">
    <div class="col-12 section-one-div" data-aos="fade-up" data-aos-duration="2000">
      <div class="row">
        <div class="col-12 col-md-4">
          <div class="row">
            <div class="section-one-img1 col-12 d-flex align-items-center justify-content-center pb-5">
              <img src="./images/Pig.png" alt="">
            </div>
            <div class="col-12 d-flex align-items-center justify-content-center">
              <div class="row">
                <div class="card-title col-12 d-flex align-items-center justify-content-center">
                  <h1>Economize</h1>
                </div>
                <div class="card-text col-12 d-flex align-items-center justify-content-center">
                  <p>Aproveite o cupom para economizar na sua primeira compra em nossa loja!</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4 mt-5 mt-md-0">
          <div class="row">
            <div class="section-one-img2 col-12 d-flex align-items-center justify-content-center pb-5">
              <img src="./images/shield.png" alt="">
            </div>
            <div class="col-12 d-flex align-items-center justify-content-center">
              <div class="row">
                <div class="card-title col-12 d-flex align-items-center justify-content-center">
                  <h1>Qualidade</h1>
                </div>
                <div class="card-text col-12 d-flex align-items-center justify-content-center">
                  <p>Aproveite o cupom para economizar na sua primeira compra em nossa loja!</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4 mt-5 mt-md-0">
          <div class="row">
            <div class="section-one-img3 col-12 d-flex align-items-center justify-content-center pb-5">
              <img src="./images/Pig.png" alt="">
            </div>
            <div class="col-12 d-flex align-items-center justify-content-center">
              <div class="row">
                <div class="card-title col-12 d-flex align-items-center justify-content-center">
                  <h1>Praticidade</h1>
                </div>
                <div class="card-text col-12 d-flex align-items-center justify-content-center">
                  <p>Aproveite o cupom para economizar na sua primeira compra em nossa loja!</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{!-- //////////////////////FORM 2 --}}
  <div class="row d-flex d-md-none">
    <div class="col-12">
      <div class="row d-flex justify-content-center py-5">
        <div class="col-10 d-flex justify-content-center py-5" data-aos="fade-up" data-aos-duration="1000">
          <div class="col-12 col-md-3 mt-5 mt-md-0 order-md-3 justify-content-center">
            <form class="form-header" action="/" method="POST">
              <div class="form-group pb-3">
                <div class="input-group input-group-lg">
                  <input type="text" class="form-control input-name" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-lg" />
                </div>
              </div>
              <div class="form-group pb-3">
                <div class="input-group input-group-lg">
                  <input type="text" class="form-control input-email" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-lg" />
                </div>
              </div>
              <div class="d-flex justify-content-center">
                <button class="btn btn-primary btn-lg prevent-default" data-toggle="modal"
                  data-target="#exampleModal">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  {{!-- //////////////MAP SECTION --}}

  <div class="row d-flex justify-content-center section-two">
    <div class="col-12 col-md-10">
      <div class="row" data-aos="fade-up" data-aos-duration="1000">
        <div class="col-12 col-md-4">
          <div class="row">
            <div class="col-12 d-flex align-items-center align-items-md-end map-title">
              <h2>
                Onde nos encontrar?
              </h2>
            </div>
            <div class="col-12 d-flex align-items-center align-items-md-start map-text pt-md-4">
              <p>
                Estamos presentes em vários pontos da ciade. Caso você prefira retirar sua marmita no local, utilize o
                mapa para encontrar a unidade mais próxima de você!
              </p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-8 py-5">
          <div class="row d-flex justify-content-center align-items-center">
            <div class="col-12 col-md-10 map-div">
              <div id="map"></div>
          </div>
        </div>
      </div>
    </div>
  </div>


  {{!-- //////////////FOOTER --}}

  <div class="footer row d-flex justify-content-between align-content-center">
    <div class="col-12 col-md-3 d-flex justify-content-center">
      <h1>
        LOGO
      </h1>
    </div>
    <div class="col-12 col-md-4 d-flex justify-content-center pt-5 pt-md-0">
      <div class="row text-center">
        <div class="col-12">
          <h2>
            COMPANY
          </h2>
        </div>
        <div class="col-12">
          <h2>
            © 2019 xxxxxx. All rights reserved.
          </h2>
        </div>
      </div>
    </div>
  </div>
</div>