<div class="navbar row fixed-top">
  <div class="col-12">
    <div class="row d-flex justify-content-start">
      <div class="col-4 d-flex justify-content-start pl-5">
        LOGO
      </div>
    </div>
  </div>
</div>