html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
}

body {
  margin-top: 1px;
  padding-top: -1px;
}

.container-fluid {
  margin: 0 !important;
  padding: 0 !important;
}

.row {
  margin: 0 !important;
  width: 100%;
  height: 100%;
}
.navbar {
  height: 6rem;
  font-size: 2rem;
  background-color: #5A56F5;
}

.header {
  /* background-image: url('https://pixabay.com/get/52e5d0424c5aa414f6d1867dda6d49214b6ac3e45656704a772e7cd390/outdoors-4551688_1920.jpg'); */
  background-color: white;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  height: auto;
  margin-top: 6rem !important;
}

.section-one {
  width: 100%;
  min-height: 80vh;
  height: auto;
  background-color: #FDE03C;
}

.section-two {
  width: 100%;
  min-height: 80vh;
  height: auto;
  background-color: rgb(245, 245, 245);
}

.section-one-div {
  height: 50%;
}

.title {
  height: 80px;
}

.title h1 {
  font-size: 6rem;
}

.header2 {
  background-image: url('https://pixabay.com/get/52e5d4414851a814f6d1867dda6d49214b6ac3e45656704a762e79d593/path-4512234_1920.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.header-block {
  height: 100%;
}

.form-header {
  width: 100%;
  font-size: 1.4rem;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 18px;
  border: 2px solid rgba(0, 0, 0, 0); 
  height: 22rem;
}
.btn {
  background: #5A56F5;
  border-radius: 14.5878px;
  width: 100.25px;
  height: 48.47px;
  color: white;
  font-size: 19.1756px;
}
.input-group-lg>.custom-select, .input-group-lg>.form-control:not(textarea) {
  height: calc(1.5em + 1rem + 15px);
  background: #ECECEC;
  border: 1.22154px solid #E0E0E0;
  box-sizing: border-box;
  border-radius: 14.6584px;
}

.text-header h1 {
  font-size: 1.7rem;
}

.header-div div {
  height: 100%;
}

.img-header {
  width: 34.1rem;
  height: 35rem;
}


.img-header img {
  width: 100%;
  height: 100%;
}

.footer {
  height: 200px;
  background-color: black;
}

.img-section {
  width: 114px;
  height: 114px;
  border-bottom-right-radius: 28px;
  border: 2px solid rgba(0, 0, 0, 0);
  background-color: brown;
}

.img-section img {
  max-width:100%;
  max-height:100%;
}

.section-one-img1 img {
  width: 119px;
  height: 115px;
}

.section-one-img2 img {
  width: 86px;
  height: 98.9px;
}

.section-one-img3 img {
  width: 119px;
  height: 115px;
}

.card-text p{
  font-style: normal;
  font-weight: normal;
  font-size: 2.4rem;
  line-height: 31px;
  text-align: center;
  color: #000000;
}

.card-title h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 3.6rem;
  line-height: 47px;
}

.modal-dialog {
  margin: 0;
  height: 30rem;
}

.map-title h2 {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 83px;
}

.map-text p {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 31px;
}

.map-div {
  width: 697px;
  height: 442px;
}

.logo-nav h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 2.7rem;
  line-height: 62px;
  color: white;
}
 
#map {
  width: 100%;
  height: 500px;
}